
*{
box-sizing: border-box;
font-family: Arial;
}
p{
    font-size: 14px;
    color: rgb(31, 30, 30);
    font-weight: 500;   
}
.nav-container{

display: flex;
align-items: center;
max-width: 1400px;
margin: 0 auto;

}
span{
color:deeppink;

}

.icons .fa-brands{
    color: white;
}


.links,.icons,.small,footer{
    font-size: 13px;
    color: white;
min-width: 400px;
text-align: center;
margin-bottom: 30px;


   
}
.logo2{
     display: flex;
    justify-content: center; 
    text-align: center;

   
    
}

.logo2 img{
  margin-top: 30px;
height: 30px;
  width: 50px;
   
}
footer p,small{
    color: white;
    font-size: 12px;
    font-weight: 100;
}

footer a{
   margin-left: 20px;
}

.logo2 p{
    font-size: 30px;
}

footer{
   
    /* display: flex; */
    align-items: center;
    max-width: 1400px;
    margin: 0 auto; 
     min-height: 300px;
    /* justify-content: center; */
    gap:20px;
    border: 1px solid black;
    background-color: rgb(13, 0, 24);
    padding-top: 80px;

}
.discunt-section .discunt-container .img2{
    max-height: 200px;
    max-width: 170px;
    position: absolute;
    top: 240px;
    left: 360px;
}
.logo-container{
min-height: 50px;
display: flex;
align-items: center;
width: 50%;
justify-content: center;

}

.logo-container p{
    font-size:30px ;
}
.banner-container .banner-text h1{
margin-bottom: 15px;
}
.nav-item-container{

width: 50%;
display: flex;
justify-content: space-around;
align-items: center;

}
.nav-item-container a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.logo-container img{
width: 60px;
margin-right:10px;
    
    height:30px;
}
.follow{

    background-color: rgb(226, 225, 225);
    border-radius: 5px;
    padding:10px 20px;

}



.banner-container{

max-width: 1400px;
margin:0 auto 0;
min-height: 50px;
max-height: 500px;
display: flex;

}

.discunt-section{

    max-width: 1400px;
margin:170px auto ;
min-height:200px;

display: flex;

align-items: center;
justify-content: center;
}
.banner-text{

width: 50%;
background-image: url('images/Group\ 14.png');
background-size: contain;
/* text-align: center; */
margin-top: 40px;
margin-left:0.1%;
text-align:center;

}
.discunt-container{
   
width: 50%;
position: relative;
}

.discunt-container .img1{
    width: 80%;
    height: 85%;
    display: block;
    margin: 0 auto;
   
    position: relative; 

    
}
.discunt-text{
    width: 50%;
    margin-left: 20%;

}

.discunt-text p{
line-height: 30px;
}
.banner-img{

width: 50%;
}

.btn1{
    border: none;
    border-radius:25px;
    padding: 15px 25px;
    color: white;
    background-color: #ff0fb7;
}

.btn2{
    border: none;
    border-radius:25px;
    padding: 15px 25px;
    color: white;
    background-color: #0fcfff;
}
.banner-img img{
    width: 100%;
    height: 100%;
}

.banner-container .banner-text .banner-title{
    font-size: 30px;
    font-weight:700;
    color: #030303;
   
    
}


.banner-container .banner-text h1{
    font-size: 60px;
    font-weight:800;
  
    background-image: linear-gradient(to bottom,rgb(218, 52, 140),rgb(160, 23, 160));
    color: transparent;
    -webkit-background-clip:text;
    
}
.gradiant{
    font-weight:800;
  font-size: 30px;
    background-image: linear-gradient(to bottom,rgb(218, 52, 140),rgb(160, 23, 160));
    color: transparent;
    -webkit-background-clip:text;
    

}
.banner-container .banner-text p{
    font-size: 14px;
    color: rgb(31, 30, 30);
    font-weight: 500;
}
.card-container h2{
    font-weight:800;
font-size: 30px;
}


.card-container{
display: grid;

max-width: 1400px;

margin: 50px auto 0;
text-align: center;
grid-template-columns: repeat(4,1fr);

}

.card{
   
  padding: 20px;
  
   
} 

.card img:hover{
   border-radius: 20px;
    border: 3px solid rgb(255, 0, 55);
    opacity: 0.6;
 } 
.card p{
    text-align: justify;
}
.card img{
    width: 100%;
}
.fa-brands{
    font-size: 20px;
    margin-right:4px ;
}

.games-container{
   
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    flex-wrap: wrap;
    align-content: center;
    min-height: 400px;
    justify-content: center;
    gap:20px;

}
.single-games{
    border-radius:35px;
    display: flex;
    align-items: center;
   flex-basis:200px;
    padding: 5px;
    border: 2px solid white;
}
.single-games p{
    margin-left:8px;
}
.single-games:hover p{
    color: deeppink;
}

.single-games:hover{
   
    border: 2px solid deeppink;
    

}






@media screen and (min-width: 300px) and (max-width:700px) {
    .nav-container{

      margin-bottom:150px;
        flex-direction: column;
        
        }
   .discunt-section{
    margin: 50px auto;
   }
        .nav-item-container{

            flex-direction: column;
            
            }


            .nav-item-container a{
              margin-top: 25px;
            }
            
.banner-container{
flex-direction:column;
justify-content: center;
}


.banner-text{
    margin-top:700px;
    width: 100%;
    text-align: center;
    margin-left:4%;
    margin-bottom:70px;
}
.banner-img{
    width: 100%;
    margin-bottom:700px;
  
}


.card-container{
    
    grid-template-columns:1fr;
    
    
    }
    .card-container .card p{
        text-align: center;
    }
    
    .discunt-section{
    flex-direction: column;

    }
    .discunt-section .discunt-container .discunt-text{
    text-align: center;
    }
    .discunt-container .img1{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
       
        position: relative; 
    
        
    }
    .discunt-section .discunt-container .img2{
        max-height: 200px;
        max-width: 100px;
        position: absolute;
        top: 110px;
        left: 120px;
    }

    .discunt-section .discunt-container{
         
        margin-bottom: 70px;
    } 
    .discunt-section .discunt-container .discunt-tex{
    text-align: center;
  
}
}






@media screen and (min-width: 700px) and (max-width:900px) {
    .discunt-container .img1{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
       
        position: relative; 
    
        
    }
    .discunt-section .discunt-container .img2{
        max-height: 200px;
        max-width: 100px;
        position: absolute;
        top: 180px;
        left: 220px;
    }


}